@model FarmCropViewModel
@using FarmApp.ViewModels;

@{
    //я давно и мало работал с Razor, поэтому мало что могу сказать по поводу разметки. Наверное какие-то повторяющиеся части можно выделить в шаблоны и переиспользовать :)
    //убрать дублирование, заменить все строки интерфейса на ресурсы
    //замечания по фронту в целом:
    //это шаблонные вьюшки для просмотра и редактирования, такое уже давно никто не использует
    //я бы сделал валидацию с показом ошибок сразу при вводе
    //если форма не валидна, то нажать на кнопку "создать" было бы нельзя
    //при возврате к списку, когда пользователь ввел данные, показал бы диалог с предупреждением о том, что введенные данные будут удалены
    //удаление так же сделал бы через диалог подтверждения без лишней страницы
    //просмотр списка в таблице с как минимум постраничным выводом, а как максимум с сортировкой и фильтрацией
    //всё это не обязательно делать используя frontend-framework, можно на чистом jquery написать, но framework облегчит задачу
    //но есть и минусы - много кода на js/ts, часть которого будет копировать код с сервера (та же валидация) и при изменении в одном месте нужно будет менять второе
    ViewBag.Title = "Добавление фермы";

    IEnumerable<NamedItemViewModel> regions = ViewBag.Regions;
    IEnumerable<NamedItemViewModel> farmers = ViewBag.Farmers;
    IEnumerable<NamedItemViewModel> agricultures = ViewBag.Agricultures;
}

<h2>Добавление фермы</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FarmerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.FarmerId,
                    new SelectList(farmers, "Id", "Name"),
                    "-- Выберите фермера --", htmlAttributes: new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.FarmerId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.DropDownListFor(
                    model => model.RegionId,
                    new SelectList(regions, "Id", "Name"),
                    "-- Выберите регион --", htmlAttributes: new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.RegionId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgricultureId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                     model => model.AgricultureId,
                     new SelectList(agricultures, "Id", "Name"),
                     "-- Выберите с/х культуру --", htmlAttributes: new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.AgricultureId, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gather, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                @Html.EditorFor(model => model.Gather, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gather, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Назад к списку ферм", "List", null, new { @class = "btn btn-default", @role = "button" })
                <button type="submit" class="btn btn-primary btn-success">Создать</button>
            </div>
        </div>
    </div>
}